Baseline requirements for certification

Purpose of this Document:

This document has the goal to list the minimum requirements which have to be fulfilled by any 
kind of used methodology and tools to develop certifiable ETCS on-board unit software. 

1.	Methodologies
The EN 50128 standard provides in Appendix A recommendations for the development methodologies. 
A number of methodologies are named as mandatory, but in most cases a combination of highly 
recommended methodologies has to be chosen to satisfy all needed development aspects. 
This document has to list for every development step (and every substep, if the lifecycle is examined 
more detailed) the minimum required combination of methodologies, that is needed to provide the 
verification and validation for a certifiable software product.

2.	Tools
As software tools will be used to apply the chosen methodologies the tools themselves have to be 
able to guarantee their dependability. Therefore, they have to be certified according to the EN 50128. 
If a tool has not been certified already it has to fulfill all criteria to be certifiable. 
Accordingly this document has to list the kind of certification that is at least needed by every 
oftware tool to guarantee that the tool chain is dependable. For software that has not been certified a 
list of minimum requirements has to be established which will guarantee that the tool chain 
as a whole can reach the needed certification.
 
