# Compiled Object files
*.slo
*.lo
*.o

# Frama-C/WP
*.wp
*.script.back

# Coq
*.glob
*.vo

# astyle
*.orig

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Latex Stuff
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lop
*.lop1
*.lop2
*.lot
*.lox
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
.predictive
