##############################################################################
#
# Aliases Table Description
# for ...\Scade\System\ObuFunctions\ManageLocationRelatedInformation\BaliseGroup\Receive_TrackSide_Msg specifically Receive_TrackSide_Msg_Pkg::Receive_TrackSide_Msg
#
##############################################################################

## inputs
SSM::alias API_TrackSide_Msg Receive_TrackSide_Msg_Pkg::Receive_TrackSide_Msg/API_TrackSide_Msg
SSM::alias Odometry Receive_TrackSide_Msg_Pkg::Receive_TrackSide_Msg/inActualOdometry
SSM::alias reset Receive_TrackSide_Msg_Pkg::Receive_TrackSide_Msg/reset

## outputs
SSM::alias TrackMessage Receive_TrackSide_Msg_Pkg::Receive_TrackSide_Msg/outTrackMessage_for_check
