<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestMetaModel -->
      <package
            uri="http://openetcs.org/testmm"
            class="testmetamodel.TestmetamodelPackage"
            genModel="model/TestMetaModel.genmodel"/>
   </extension>

</plugin>
