##############################################################################
#
# Aliases Table Description
#
# Test_BaliseInformation
# Secenario - RUn 1 BGs (normal)
#
##############################################################################

## inputs

SSM::alias API_balise Test_BaliseInformation::Test_BaliseInformation/Input_APIBaliseTelegram 
SSM::alias reset Test_BaliseInformation::Test_BaliseInformation/Test_reset 
SSM::alias ActualOdometry Test_BaliseInformation::Test_BaliseInformation/Input_Odometry

## outputs
SSM::alias BG_Message Test_BaliseInformation::Test_BaliseInformation/Test_out_BaliseMessage/

